body {
    margin-top: 13rem;
    margin-left: 0;
    margin-right: 0;
}

.nav {
    box-shadow: 0 4px 6px -2px rgba(221,221,221,0.64);
    position: fixed; 
    width: 100%;
    top: 0;
    background-color: white;
    margin-right: 2rem;
}

.logoPanel {
    display: flex;
}

.logoLink {
    align-self: center;
}

.logoName {
    text-decoration: none;
}

.name {
    font-family: 'Lobster', cursive;
    color: #6eb339;
    font-size: 3rem;
}

.ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        list-style: none;
        font-family: 'Prompt', sans-serif;
        margin: 0 2rem;
        padding: 0.4rem 0;
        height: 13rem;
}

.logo {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 0.2rem;
}

.addNew {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    background-color: #6eb339;
    padding: 0.2rem;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
}

.login {
    text-decoration: none;
    color: #413e3e;
    font-size: 1.1rem;
}

.logLi {
    align-self: center;
}

.logout {
    color: #413e3e;
    font-size: 1.1rem;
    border: none;
    background-color: white;
}

.home {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 9fr;
    grid-gap: 2.5rem;
}

.categories {
    margin-left: 2rem;
}

.searchPanel {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.search {
    height: 1.4rem;
    width: 100%;
    margin-bottom: 0.2rem;
}

.searchLink {
    color: white;
    text-decoration: none;
    background-color: #6eb339;
    border-radius: 4px;
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
}

.footer {
    text-align: center;
    height: 2rem;
    background-color: #fbfbfb;
    margin-top: 10rem;
}

@media screen and (min-width: 768px) {
    .searchPanel {
        flex-flow: row wrap;
        width: auto;
    }

    .search {
        width: 15rem;
        margin-right: 1rem;
        height: auto;
    }

    .searchLink {
        height: auto;
    }

    .ul {
        display: flex;
        flex-flow: row wrap;
        height: 5rem;
    }

    .ul li {
        align-self: center;
    }
    
    body {
        margin-top: 5.5rem;
    }
}


  
@media screen and (min-width: 1000px) {
    .search {
        width: 20rem;
    }
}