.image {
    width: 15rem;
    height: 15rem;
    /* width: 100%; 
    height: auto; */
    border-radius: 5px;
}

.recommendation {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: 0.3rem;
    gap: 10px;
}

.item {
    /* margin-right: 0.4rem;
    margin-bottom: 0.8rem; */
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #413e3e;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #222;
}

.title {
    margin-top: 0.1rem;
}

.header {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-family: 'Rubik', sans-serif;
    padding: 0.4rem;
    font-weight: 600;
    font-size: 2rem;
    color: #539222;
}

 
@media screen and (min-width: 760px) {
    .recommendation {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media screen and (min-width: 1000px) {
    .recommendation {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .recommendation {
        grid-template-columns: repeat(4, 1fr);
    }
}